@model Health_Insurance.Models.Employee
@* Ensure the model namespace is correct based on your project name *@

@{
    ViewData["Title"] = "Employee Details";
}

<h1 class="mb-4">Employee Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    @* Use Bootstrap row and column for layout and display classes *@
    <dl class="row">
        @* Use dl, dt, dd with row/col for definition list layout *@
        @* Displaying each property of the Employee model *@
        <dt class="col-sm-3">
            @* Use column for label *@
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @* Use column for value *@
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>
    </dl>
</div>
<div class="mt-3">
    @* Added margin-top *@
    @* Link to the Edit action, passing the current EmployeeId with Bootstrap button class *@
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-primary">Edit</a> |
    @* Link back to the Employee Index page *@
    <a asp-action="Index">Back to List</a>
</div>

