@model Health_Insurance.Models.Claim
@* Ensure the model namespace is correct based on your project name *@

@{
    ViewData["Title"] = "Claim Details";
}

<h1 class="mb-4">Claim Details</h1>

<div>
    <h4>Claim</h4>
    <hr />
    @* Use Bootstrap row and column for layout and display classes *@
    <dl class="row">
        @* Use dl, dt, dd with row/col for definition list layout *@
        @* Displaying each property of the Claim model *@
        <dt class="col-sm-3">
            @* Use column for label *@
            @Html.DisplayNameFor(model => model.ClaimId)
        </dt>
        <dd class="col-sm-9">
            @* Use column for value *@
            @Html.DisplayFor(model => model.ClaimId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Enrollment) @* Display name for the navigation property *@
        </dt>
        <dd class="col-sm-9">
            @* Display details from the related Enrollment and Policy *@
            Enrollment ID: @Html.DisplayFor(model => model.EnrollmentId)<br />
            Employee: @Html.DisplayFor(model => model.Enrollment.Employee.Name)<br /> @* Assuming Employee is included in Enrollment navigation property *@
            Policy: @Html.DisplayFor(model => model.Enrollment.Policy.PolicyName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClaimAmount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClaimAmount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClaimReason)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClaimReason)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClaimDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClaimDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClaimStatus)
        </dd>
    </dl>
</div>
<div class="mt-3">
    @* Added margin-top *@
    @* Link to the Update Status page for this claim with Bootstrap button class *@
    <a asp-action="UpdateClaimStatus" asp-route-id="@Model.ClaimId" class="btn btn-primary">Update Status</a> |
    @* Link back to the list of all claims *@
    <a asp-action="ListAllClaims">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
